version: 2.1

orbs:
  gradle: circleci/gradle@1.0.11

executors:
  tester:
    docker:
      - image: circleci/openjdk:8-jdk  # primary
        environment:
          JVM_OPTS: -Xmx3200m
          TERM: dumb
      - image: postgres:10
        environment:
          POSTGRES_DB: digdag
          POSTGRES_USER: digdag
          POSTGRES_PASSWORD: digdag
  builder:
    docker:
      - image: circleci/openjdk:8-jdk
        environment:
          JVM_OPTS: -Xmx3200m
          TERM: dump

workflows:
  version: 2

  main:
    jobs:
      - gradle/test:
          executor: tester
          test_results_path: build/results/
          reports_path: build/reports/
          filters:
            branches:
              only: /.*/
      - gradle/run:
          executor: builder
          command: publish
          requires:
            - gradle/test



